/* changes the font of everything */
* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* changes the size and alignment of 
"filtering menu" does not make it bold */
h2 {
  font-size: 18px;
  text-decoration: bold;
  text-align: center;
}

/* changes "literature & art corner database */
#title {
  /* LITERATURE & ART CORNER DATABASE */
  font-size: 36px;
  /* font-size: 3vw; sets font-size to always be 5% of the current viewport width, even on re-sizing */
  line-height: 76px;
  align-items: center;
  letter-spacing: 1.5px;
  color: black;
  padding: 20px;
  border: 2px;
  margin: 3px;
  text-transform: uppercase;
}

/* changes the 1882 logo */
.inner-banner img {
  display: block;
  padding: 20px;
  border: 2px;
  margin: 3px;
}

/* affects the literature & art corner title */
.inner-banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* formats the search bar, changes position of search bar */
.search-bar {
  margin: auto;
  width: 41%;
  padding: 10px;
}

/* changes font of the filtering menu */
.has-ratio h2{
  font-family: 'Montserrat', sans-serif;
}

/* changes font of the filtering menu */
.content_element {
  padding: 5%;
  outline-style: solid;
  outline-color: rgb(0, 0, 0);
  outline-width: thin;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

/* changes box title text such as about the database 
on about and event brite festivals on resources */
h3 {
  text-align: center;
  font-size: 20px;
}

/* changes the title of each page such as about, reviews */
h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 15px;
}

/* changes padding of containers on about page only */
.contents {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

/* changes left side of navbar's color, randomly not the buttons */
.navbar {
  background: rgb(218, 44, 44);
  /* background: #fff */
  /* background: #ED213A;  
  background: -webkit-linear-gradient(to right, #93291E, #ED213A);  
  background: linear-gradient(to right, #93291E, #ED213A);  */
  

}

/* changes navbar button font color and background color and format */
.navbar-item {
  color: #fff;
  background: rgb(218, 44, 44);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

/* changes navbar main site button formatting */
.main-btn{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background: #4a4a4a;
  color: black;
  padding: 10px 15px;
  border: none;
  border-width: 3.5px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

/* changes the slight background color 
of button on the hover button on navbar */
.main-btn:hover{
  content:'';
  background: rgb(218, 44, 44);
  transition: all 0.35s;
  border-radius: 4px;
}

/* makes the hover button on navbar highlight 
from left to right */
.main-btn:hover:after{
    width: 100%;
}

/* also affect the animation of the hover button
on the navbar */
.main-btn:after{
  position: absolute;
  content:'';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(218, 44, 44);
  transition: all 0.30s;
  border-radius: 4px;
}

/* changes color of hover button on navbar */
.main-btn a{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

/* changes size of filter menu boxes */
.filter-but{
  width: 200px;
  /* display: flex; */
  /* text-align: center; */
}

/* centers filter menu boxes within their containers */
.filter-div{
  
  display:flex;
  justify-content: center;
  
}

/* changes the color of the footer */
.footer {
  background: rgb(218, 44, 44);
}

/* removes the smol bullet on the resources page boxes */
.all-resources {
  list-style-type: none;
}

/* makes all the images on the resource page the same size
and right aligned */
.img-align {
  display: flex;
  flex-flow: row wrap;
  margin-inline-start: 100px;
  margin-inline-end: 100px;
}

.resource-images { 
  margin-left: auto;
  padding: 24px;
  height: 300px;
  width: auto; /* width proportional to height */
  overflow: hidden; /* cropping */
}

/*  */
.resources-text {
  margin-right: auto;
  padding: 24px;
  width: 75%;

}

.all-reviews {
  list-style-type: none;
  text-align: center;
}

/* when max-width is 992px or less */
@media (max-width: 992px) {
  .banner .inner-banner .menu .inner-menu {
    height: 100px;
    padding: 12px;
    flex-direction: column;
  }
  

  /* makes #goto disappear */
  #goto {
    display: none;
  }

  #title {
    text-align: center;
  }

  .main-container {
    margin-top: 100px;
  }
}